.modalVPNContainer h2 {
  font-weight: normal;
}

.modalVPNContainer {
  width: 700px;
  max-width: 100%;
  height: 400px;
  padding: 8px;
}
.primeraParte,
.segundaParte {
  display: grid;
  gap: 16px;
}

.primeraParte {
  grid-template-columns: 1fr 1fr;
}
.segundaParte {
  grid-template-columns: 1fr 2fr 2fr auto;
  align-items: end;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.segundaParte > button {
  width: 40px;
  height: 40px;
  border: 1px solid var(--border-primary);
}
.segundaParte.visible {
  opacity: 1;
  transform: translateY(0);
}
.segundaParte.hidden {
  opacity: 0;
  transform: translateY(20px);
}
.label {
  font-size: 12px;
  color: var(--text-secondary);
  margin-bottom: 4px;
}
